---
layout: home
title: RadioPi Club Home
permalink: /index.html
language: en
---

<img src="/img/radiopi-desktop-2020-08-01.png" />



<p>We will officially stop the domain radiopi.club on June 16, 2024, and host this project on GitHub.</p>

<p>Thank you for your participation over the past four years. Remember that it was first year of COVID19, Three software engineers, stayed at home, made this Raspberry Pi system image, for amateur radio,  our common hobby.</p>

<p>Today, it's been four years since we last updated this project. One reason is due to the fluctuating prices of Raspberry Pi hardware, and another is the developing of Pi OS, with its 32-bit and 64-bit branches, causing some trouble with updates to the Raspberry Pi's general libraries. Raspberry Pi hardware has also step away from its original intention of low-power and low-maintenance.</p>

<p>Of course, the most important reason is that we are too lazy. The hobbies and interests of us have also little changes because of family, work, and life. We are still good friends. So we all thought we should continue not to update this project, keep eyes on the Raspberry Pi, and keep our interest in the original intention. Hopefully, one day the new Raspberry Pi will give us new inspiration.</p>
 
<p>You are still welcome to communicate with us on Github!</p>

<p><a href="https://github.com/radiopiclub/radiopiclub">https://github.com/radiopiclub/radiopiclub</a></p>

<p>73!</p>

<p>BG6LH BG1TPT BI1EIH</p>

<p>2024-5-16</p>

---

<p>RadioPi is a Ham Radio Raspberry Pi OS image. It's optimized for <b>remote control</b> and <b>field operation</b>. You can flash it into a SD card, and run it on a RPi computer directly.</p>

<div>
	<h3>RadioPi is desgined to</h3>
	<ul>
	{% for target in site.data.targets_2020-08-01 %}
			<li>{{ target | map: page.language }}</li>
	{% endfor %}
	</ul>
</div>


<div>
	<h3>Downloads</h3>
	{% include downloads_2020-08-01.html %}
</div>

<div>
	<h3>Features of RadioPi</h3>
	<ul>
	  {% for feature in site.data.features_2020-08-01 %}
		   <li>{{ feature | map: page.language }}</li>
	  {% endfor %}
	</ul>
</div>

<div>
	<h3>Software on RadioPi</h3>
	<ul>
	  {% for software in site.data.softwares_2020-08-01 %}
		<li><b>{{ software.name }}</b>, {{ software.version }},
		    {% for description in software.descriptions %}
		      <i>{{ description | map: page.language }}</i>
		    {% endfor %}
		</li>
	  {% endfor %}
	</ul>
</div>

<h2>RadioPi User Guide</h2>

<p>For more infomation, Please read <a href="/en/documents-2020-08-01.html"> RadioPi User Guide</a></p>

