---
layout: home
title: RadioPi Club Home
permalink: "/zh/index.html"
language: zh
---

<img src="/img/radiopi-desktop-2020-08-01.png" />

<p>我们将于2024年6月16日正式放弃radiopi.club域名，把网站托管在Github上。</p>

<p>感谢您四年来的参与。还记得那是COVID19的第一年，三个闲在家里的软件工程师，因为共同的爱好，给业余无线电做了一个树莓派的系统镜像。</p>

<p>今天，我们已经四年没有更新这个项目了。一部分原因是树莓派硬件的价格波动，另一部分是Pi OS的发展进程，他的32位和64位分支，给树莓派的通用软件库的更新带来了一点困扰。树莓派硬件也正在偏离它当初低功耗、低维护的初衷。</p>

<p>当然更重要的原因，还是我们太懒了。我们三个人的共同爱好和兴趣，也因为家庭、工作、生活发生了细微的变化。我们三个人仍然是好朋友。于是我们一直认为，继续不更新这个计划，对树莓派世界保持观察，对自己的兴趣保持初心。希望有一天树莓派的发展能给我们带来新的灵感。</p>

<p>依旧欢迎你在Github上与我们保持沟通！</p>

<p><a href="https://radiopiclub.github.io">https://radiopiclub.github.io</a></p>

<p>73!</p>

<p>BG6LH BG1TPT BI1EIH</p>

<p>2024-5-16</p>


<p>RadioPi是一个配置好了的树莓派操作系统懒人包，安装了常用的HAM软件、SDR软件、卫星追踪软，并且针对<b>“远程控制”</b>和<b>“野外操作”</b>做了优化。你只要下载了它，烧个SD卡，往树莓派里一插，开机就能用。</p>

<div>
	<h3>RadioPi的设计目标</h3>
	<ul>
	{% for target in site.data.targets_2020-08-01 %}
		<li>{{ target | map: page.language }}</li>
	{% endfor %}
	</ul>
</div>

<div>
	<h3>下载地址</h3>
	{% include downloads_2020-08-01.html %}


<p><b>特别提示</b>：2020年6月5日发行的中文版，请参考：<a href="/zh/releases/image_2020-06-05-radiopi.html">2020-06-05版本说明</a>。</p>

</div>


<div>
	<h3>RadioPi特色功能</h3>
	<ul>
	  {% for feature in site.data.features_2020-08-01 %}
		   <li>{{ feature | map: page.language }}</li>
	  {% endfor %}
	</ul>
</div>

<div>
	<h3>RadioPi预装的软件</h3>
	<ul>
	  {% for software in site.data.softwares_2020-08-01 %}
		<li><b>{{ software.name }}</b>，{{ software.version }}，
		    {% for description in software.descriptions %}
		      {{ description | map: page.language }}
		    {% endfor %}
		</li>
	  {% endfor %}
	</ul>
</div>





<h2>RadioPi使用指南</h2>

<p>详细使用说明，请参考<a href="/zh/documents-2020-08-01.html">《RadioPi使用说明》</a></p>

