---
layout: home
title: RadioPi Club Home
permalink: /index.html
language: en
---

<img src="/img/radiopi-desktop.png" />

<p>RadioPi is a Ham Radio Raspberry Pi OS image. It's optimized for <b>remote control</b> and <b>filed operation</b>. You can flash it into a SD card, and run it on a RPi computer directly.</p>

<div>
	<h3>RadioPi is desgined to</h3>
	<ul>
		<li>Control your rig, run FT8, log QSO, and upload to LoTW. </li>
		<li>Control your rig at home, when you take a walk in a park. </li>
		<li>Go to field operation without your laptop computer. </li>
	</ul>
</div>


<div>
	<h3>Downloads</h3>
	{% include downloads_20200725.html %}
</div>

<div>
	<h3>Features of RadioPi</h3>
	<ul>
	  {% for features in site.data.features_20200725 %}
	  	{% for feature in features.feature %}
		   <li>{{ feature.en }}</li>
		{% endfor %}
	  {% endfor %}
	</ul>
</div>

<div>
	<h3>Software on RadioPi</h3>
	<ul>
	  {% for software in site.data.softwares_20200725 %}
		<li><b>{{ software.name }}</b>, {{ software.version }},
		    {% for description in software.descriptions %}
		      <i>{{ description.en }}</i>
		    {% endfor %}
		</li>
	  {% endfor %}
	</ul>
</div>

<h2>RadioPi User Guide</h2>

<p>For more infomation, Please read <a href="/en/documents-20200725.html"> RadioPi User Guide</a></p>

