
{% assign image_name = "image_2020-08-01-radiopi.zip" %}
{% assign fileszie = "1.26GB" %}
{% assign shasum256 = "d949ed21097864aaa6bed4d453d22415e5a25e2479fd835f8398e9dbc0fd6ec4" %}

{% assign download_url = "https://downloads.radiopi.club/image_2020-08-01-radiopi.zip" %}

{% assign download_baidu_url = "https://pan.baidu.com/s/1RdeLioiFB9-eHlj42UE-GA" %}
{% assign download_baidu_extcode = "5v9r" %}





{% if page.language == "zh" %}

<dl>
<dd>镜像文件：<a href="{{ download_url }}">{{ image_name }}</a></dd>
<dd>大小：{{ fileszie }}</dd>
<dd>SHA-256：{{ shasum256 }}</dd>
</dl>

中国大陆用户还可以选择从百度网盘下载：
<dl>
<dd><a href="{{ download_baidu_url }}">{{ download_baidu_url }}</a></dd>
<dd>提取码：{{ download_baidu_extcode }}</dd>
<dd>大小：{{ fileszie }}</dd>
<dd>SHA-256：{{ shasum256 }}</dd>
</dl>

{% else %}

<dl>
<dd>Image file: <a href="{{ download_url }}">{{ image_name }}</a></dd>
<dd>Size: {{ fileszie }}</dd>
<dd>SHA-256: {{ shasum256 }}</dd>
</dl>

For users from China Mainland could dowload it from pan.baidu.com, also:
<dl>
<dd><a href="{{ download_baidu_url }}">{{ download_baidu_url }}</a></dd>
<dd>ExtractCode：{{ download_baidu_extcode }}</dd>
<dd>Size: {{ fileszie }}</dd>
<dd>SHA-256：{{ shasum256 }}</dd>
</dl>

{% endif %}



