{% if page.language == "zh" %}
<a href="https://pan.baidu.com/s/17HxJHYbyRwxaK_dh4-24WA">https://pan.baidu.com/s/17HxJHYbyRwxaK_dh4-24WA</a>
<br />提取码：02e7
<br />大小：1.39GB
<br />SHA-256：99ab3ec6125cc07d878746d810a1d74db3db7bada44e5373ae1b7681da3e07f3
{% else %}
<a href="https://pan.baidu.com/s/17HxJHYbyRwxaK_dh4-24WA">https://pan.baidu.com/s/17HxJHYbyRwxaK_dh4-24WA</a>
<br />ExtractCode：02e7
<br />Size: 1.39GB
<br />SHA-256：99ab3ec6125cc07d878746d810a1d74db3db7bada44e5373ae1b7681da3e07f3
{% endif %}



