{% if page.language == "zh" %}

<dl>
	<dd>镜像文件：<a href="https://github.com/razor/radiopi/blob/master/images/image_2020-07-25-radiopi.zip">image_2020-07-25-radiopi.zip</a></dd>
	<dd>大小：1.38GB</dd>
	<dd>SHA-256：6297683829eaa8812ccdc91b49fe7281ef456f9846e043949456604226ef429c</dd>
</dl>

中国大陆用户还可以选择从百度网盘下载：
<dl>
	<dd><a href="https://pan.baidu.com/s/1RdeLioiFB9-eHlj42UE-GA">https://pan.baidu.com/s/1RdeLioiFB9-eHlj42UE-GA</a></dd>
	<dd>提取码：5v9r</dd>
	<dd>大小：1.38GB</dd>
	<dd>SHA-256：6297683829eaa8812ccdc91b49fe7281ef456f9846e043949456604226ef429c</dd>
</dl>

{% else %}

<dl>
	<dd>Image file: <a href="https://github.com/razor/radiopi/blob/master/images/image_2020-07-25-radiopi.zip">image_2020-07-25-radiopi.zip</a></dd>
	<dd>Size: 1.38GB</dd>
	<dd>SHA-256: 6297683829eaa8812ccdc91b49fe7281ef456f9846e043949456604226ef429c</dd>
</dl>

For users from China Mainland could dowload it from pan.baidu.com, also:
<dl>
	<dd><a href="https://pan.baidu.com/s/1RdeLioiFB9-eHlj42UE-GA">https://pan.baidu.com/s/1RdeLioiFB9-eHlj42UE-GA</a></dd>
	<dd>ExtractCode：5v9r</dd>
	<dd>Size: 1.38GB</dd>
	<dd>SHA-256：6297683829eaa8812ccdc91b49fe7281ef456f9846e043949456604226ef429c</dd>
</dl>

{% endif %}



